/* Complete the CSS styling according to the provided design */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #016f32;
  background-size: cover; /* para que cubra toda la pantalla */
  text-align: center;
  color: white;
  font-weight: bold;
  flex-direction: column;
  display: flex;
  align-items: center;
}

h1 {
  color: goldenrod;
}

button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 4px;
  margin-top: 4px;
}

#message-el {
  font-style: italic;
}
